<div class="row">
  <div class="span8">
    <small>
      <%= image_tag(@comment.user.avatar.tiny.url) if @comment.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @comment.user.name %>   
    <p>
      <%= markdown @comment.body %>
    </p>
  </div>
  <div class="span4">
    <% if can? :edit, @comment %>
      <%= link_to "Edit", edit_topic_comment_path(@post,@comment), class: 'btn btn-large btn-block' %>
    <% end %>
  </div>
</div>